.location-card {
  background: $c-white;
  margin: 30px 0;
  border-radius: 0.1px;
  font-family: $ff-lato;
  z-index: 0;
  @media (max-width: $width-md) {
    margin-bottom: 5px;
    margin-top: 0px;
    background-color: rgba(255, 255, 255, 0);
  }
  img {
    padding-top: $spacing-md;
    padding-bottom: $spacing-sm;
    padding-left: $spacing-sm;
    padding-right: $spacing-sm;
  }
  h6 {
    color: $c-darker-purple;
    margin-bottom: 0;
    line-height: $lh-sm;
  }
  a>h6 {
    font-family: $ff-open;
    color: $c-darkish-purple;
    padding-bottom: $spacing-md;
  }
  .phone-number {
    line-height: $lh-sm;
    color: $c-darkish-purple;
    font-family: $ff-roboto-condensed;
    font-weight: 900;
    margin-bottom: 0;
    a:hover {
      color: $c-darkish-purple !important;
      text-decoration: none;
    }
    &:hover {
      text-decoration: none;
    }
  }
  .btn {
    margin-top: $spacing-md;
    margin-bottom: $spacing-sm;
  }
  h6:last-child {
    padding-bottom: $spacing-lg;
  }
}

#google-map5 {
  height: 700px;
  @media (max-width: $width-md) {
    height: 300px;
  }
}

#content .floating-card {
  position: absolute;
  z-index: 10;
  left: 50%;
  margin-left: -570px;
  @media (max-width: $width-lg) {
    margin-left: -435px;
  }
  @media (max-width: $width-md) {
    padding-left: 0;
    padding-right: 0;
    position: static;
    text-align: center;
    width: 100% !important;
    margin-left: 0px;
    background-color: $c-white;
    & .floating-card--col-fix {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.hours-table {
  //color: $c-grey-location;
  padding-bottom: $spacing-md;
  h5 {
    color: $c-darkish-purple;
    text-transform: capitalize;
    font-family: $ff-lato;
    font-weight: 900;
    margin-bottom: 0;
  }
  th {
    width: 1px;
    white-space: nowrap;
    padding-right: 20px;
    text-align: left;
  }

  td {
    text-align: center;
  }

  table {
    max-width: 250px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0;
    margin-bottom: 0;
  }
}


#google-map5 {
  height: 820px;
  @media (max-width: $width-md) {
    height: 300px;
  }
}


