#section-reviews {
  background-image: url('/assets/reviews-bg.jpg');
  background-attachment: fixed;
  @include parallax-background;

  .heading {
    padding-top: 60px;
    padding-bottom: 30px;
  }
  h3 {
    font-family: $ff-great-vibes;
    color: $c-teal;
    font-weight: 400;
    margin-bottom: 0;
    line-height: 1.5;
  }

  h2 {
    font-family: $ff-mont;
    font-weight: 700;
    color: $c-grey-red;
    margin-bottom: 0;
    line-height: 1;
  }

  hr {
    width: 250px;
    border-top-color: $c-grey-red;
  }

  @include birdeye-footer();


}
