#section-specials {

  .container-wrapper {
    background-image: url('../../assets/flower-specials-bg.jpg');
    @include parallax-background;
    padding-top: $spacing-lg;
  }

  .heading {
    background-color: $c-darkish-purple;
    padding-bottom: $spacing-md;
    padding-top: $spacing-md;
    h2 {
      font-family: $ff-roboto-condensed;
      color: $c-white;
      margin-bottom: 0;
      line-height: $lh-sm;
      font-weight: 600;
    }
    h3 {
      color: $c-white;
      font-family: $ff-open;
      margin-bottom: 0;
      line-height: $lh-sm;
      font-weight: 400;
    }
  }

  .card {
    background-color: rgba($c-white, 0.75);
    text-align: center;
    height: 100%;
    border-radius: 0.1px;
    color: $c-darkish-purple;


    .top {
      .price {
        position: relative;
        display: inline-block;
        border-radius: 10000px;
        height: 150px;
        width: 150px;
      }
      h1 {
        color: $c-white;
        margin-bottom: 0;
        padding: $spacing-sm;
        padding-top: $spacing-md;
        line-height: $lh-xs;
        font-family: $ff-open;
        font-weight: 700;
        font-size: 90px !important;
        &:before {
          content: '$';
          font-size: 28px;
          font-weight: 400;
          position: absolute;
          top: $spacing-md;
          left: 15px;
        }
      }
      h3 {
        font-family: $ff-lato;
        color: $c-darkish-purple;
        margin-bottom: 0;
        line-height: $lh-xs;
        padding-top: $spacing-md;
        font-size: 30px;
        font-weight: 900;
        padding-bottom: $spacing-sm;
      }
    }

    .bottom {
      // Savings
      h6:first-child {
        padding-top: $spacing-md;
        color: $c-darkish-purple;
        @include h5;
        font-weight: 700;
      }
      .copy {
        font-family: $ff-open;
        padding-left: $spacing-sm;
        padding-right: $spacing-sm;
        color: $c-darkish-purple;
      }
      p {
        padding-bottom: $spacing-md;
        color: $c-darkish-purple;
      }
    }
  }
  .card-1 .price {  background-color: $c-card1;  }
  .card-2 .price {  background-color: $c-card2;  }
  .card-3 .price {  background-color: $c-card3;  }
  .card-1 h6:first-child {  color: $c-white;  }
  .card-2 h6:first-child {  color: $c-white;  }
  .card-3 h6:first-child {  color: $c-white;  }

  .row {
    display: flex;
    padding-bottom: $spacing-xl;
    @media screen and (max-width: $width-sm) {
      display: block;
      .card {
        margin-bottom: $spacing-md;
      }
    }
  }
}